
/*  For Video Box */
.Rvideo-box
	{
	background-color: #000000;
	text-align: center;
	padding: 0px;
	margin: 0px auto 0px auto;
	width: 100%;
	max-width: 900px;
	height: auto;
	border: 1px solid #000000;
	}

.Rvideo-box video
	{
	width: 100%;
	height: auto;
	display: block;
	padding: 0px;
	margin: 0px;
	}

.Rvideo-caption
	{
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	padding: 8px 5px 8px 5px;
	}

.Rvideo-nosupport
	{
	color: #FFFFFF;
	padding-top: 110px;
	padding-bottom: 110px;
	}
