*,
*::before,
*::after {
  box-sizing: border-box;
}
 body {
   background-color: #DCDCDC;
 }
.card1 {
  background-color: white;
  height: auto;
  transition: 0.1s;
  width: 400px;
  border-radius:8px 8px 8px 8px;
  border-top: 4px solid green;
  border-left: 2px solid darkblue;
}

img {
  height: auto;
  max-width: 100%;
  border-radius: 5px;
  padding: 2px;
}
.container1 {
  padding: 5px 16px;
  text-align: left;
  display: flex;
}

.boxed {
  border: 3px solid ;
  margin-left: 10px;
  padding-left: 10px;
}
