<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <meta name="description" content="My_Card_Design">
  <title> Mycard</title>
<link rel="stylesheet" href="nav.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav>
  <div class="toggle">
    <i onclick="fun()"class="fa fa-bars" aria-hidden="true"></i>
  </div>
  <ul id="main">
    <li><a href="#">CDU Home</a></li>
    <li><a href="#">Courses</a>
    <li><a href="#">Library</a>
    <li><a href="#">Campuses</a>
    <li><a href="#">Contact</a>
    <li><a href="#">Learnline Login</a>
  </ul>
</nav>
<script type="text/javascript" src="Nav.js"></script>
</body>
</html>
